@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wdth,wght@100,400&display=swap');
.roboto-uniquifier{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
body{
    background-image: linear-gradient(rgba(43, 43, 43, 0.7), rgba(43, 43, 43, 0.7)), url('Backgraund.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family:"Press Start 2P", system-ui;
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
}
header{
    position: fixed;
    top: 0;
    left: 0;             
    width: 100%;
    z-index: 1000; /*fica frente*/
    background-color: rgb(26, 26, 26);
    padding: 10px;
    box-shadow: 1px 1px 4px rgb(93, 247, 225);
    box-sizing: border-box;
}
header nav{
    float: right;
    margin-top: 15px;
}
header nav a{
    text-decoration: none;
    color:rgb(93, 247, 225);
    margin: 15px;
    transition: all 1s;
}
header nav a:hover{
    color:rgb(255, 62, 169);
    text-decoration: underline;
}
.titulopagina {
    padding: 10px;
    text-align: center;
    margin-top: 200px;
    float: none; 
    font-family: 'Press Start 2P';
    color: rgb(93, 247, 225);
    margin-bottom: 30px;
   
}
.section1, .section2{
    position: relative;
    top: 100px;
    width: 40%;
    float: left;
    
    
}
.section1 h1, .section2 h1{
    position: relative;
    margin: 7px 22px;
    color:  rgb(93, 247, 225);
    text-decoration: underline;
}
.section1 img, .section2 img{
    width: 100%;
    margin: 15px;
    border: 7px solid;
    border: 8px  solid rgb(21,21,21);
}
.apresentacao1, .section1, .apresentacao2, .section2{
    padding: 30px;
    box-sizing: border-box;
}
.apresentacao1, .apresentacao2{
    position: relative;
    top: 185px;
    width: 50%;
    margin: 0px 20px;
    float: left;
    border: 8px  solid rgb(21,21,21);
    background-color: rgb(26, 26, 26);
    box-sizing: border-box;
}
.apresentacao1 h2, .apresentacao2 h2{
    position: relative;
    border: 15px;
    color: rgb(93, 247, 225)
}
.apresentacao1 p, .apresentacao2 p {
    width: 100%;
    border: 15px;
    color: white;
    line-height: 1.6;
}
.destaque{
    color: rgb(255, 62, 169);
}
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    color: rgb(93, 247, 225);
    padding: 10px;
    text-align: center;
    font-size: 0.5rem;
    animation-name: pingar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes pingar{
    0%{margin-bottom: 0px;}
    50%{margin-bottom: +10px;}
}


