@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:wdth,wght@100,400&display=swap');
.roboto-uniquifier{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

body{
    background-image: linear-gradient(rgba(43, 43, 43, 0.7), rgba(43, 43, 43, 0.7)), url('testecaveira.png');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-family:"Press Start 2P", system-ui;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /*tira barra*/
}

header{
    position: fixed;     /*parado na tela*/
    top: 0;              /*topo */
    left: 0;             
    width: 100%;         /* Ocupa toda a largura da tela */
    z-index: 1000;       /* Fica na frente*/
    background-color: rgb(26, 26, 26);
    padding: 10px;
    box-shadow: 1px 1px 4px rgb(93, 247, 225);
    box-sizing: border-box;
}
header nav{
    float: right;
    margin-top: 15px;
}
header nav a{
    text-decoration: none;
    color:rgb(93, 247, 225);
    margin: 15px;
    transition: all 1s;
}
header nav a:hover{
    color:rgb(255, 62, 169);
    text-decoration: underline;
}

.background{
    position: relative;
    width: 100%;
    height: 100vh;      /* Altura fixa da tela */
    overflow: hidden;   /* Trava a rolagem */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gif{
    display: block;     /* Resolve o espaço em branco no fundo */
    width: 100%;
    height: 100vh;      /* O gif também deve respeitar a altura da tela */
    object-fit: cover;  /* Preenche a tela toda como um papel de parede */
    opacity: 30%;
    z-index: 1;
}
.logo{
    position:fixed;
    top: 25%;
    z-index: 2;
    width: 50%;
}

aside{
    padding: 50px 300px;
    z-index: 2;
    position: fixed;
    top: 50%;
    color: white;
    text-align: center;
    line-height: 1.6;
}
.destaque{
    color: rgb(255, 62, 169);
}
.button{
    padding: 30px 60px;
    position:fixed;
    top: 80%;
    z-index: 2;
    background-color: rgb(93, 247, 225);
    color: rgb(26, 26, 26);
    font-family: "Press Start 2P", system-ui;
    border: 5px solid rgb(26, 26, 26);
    transition: all 1s; 
}
button:hover{
    background-color: rgb(255, 62, 169);
    color: rgb(26, 26, 26);
    padding: 40px 70px;
}